progress {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  height: 0.5rem;
}
progress::-webkit-progress-bar {
  background-color: transparent;
}
progress[value='10']::-webkit-progress-value {
  background-color: hwb(86 0% 0%);
  border-radius: 3px;
}
progress[value='10']::-moz-progress-bar {
  appearance: none;
  background-color: #8fff00;
  border-radius: 3px;
}
progress[value='20']::-webkit-progress-value {
  background-color: #00ff85;
  border-radius: 3px;
}
progress[value='20']::-moz-progress-bar {
  appearance: none;
  background-color: #00ff85;
  border-radius: 3px;
}
progress[value='30']::-webkit-progress-value {
  background-color: #00c2ff;
  border-radius: 3px;
}
progress[value='30']::-moz-progress-bar {
  appearance: none;
  background-color: #00c2ff;
  border-radius: 3px;
}
progress[value='40']::-webkit-progress-value {
  background-color: #00a3ff;
  border-radius: 3px;
}
progress[value='40']::-moz-progress-bar {
  appearance: none;
  background-color: #00a3ff;
  border-radius: 3px;
}
progress[value='50']::-webkit-progress-value {
  background-color: #001aff;
  border-radius: 3px;
}
progress[value='50']::-moz-progress-bar {
  appearance: none;
  background-color: #001aff;
  border-radius: 3px;
}
progress[value='60']::-webkit-progress-value {
  background-color: #7000ff;
  border-radius: 3px;
}
progress[value='60']::-moz-progress-bar {
  appearance: none;
  background-color: #7000ff;
  border-radius: 3px;
}
progress[value='70']::-webkit-progress-value {
  background-color: #ad00ff;
  border-radius: 3px;
}
progress[value='70']::-moz-progress-bar {
  appearance: none;
  background-color: #ad00ff;
  border-radius: 3px;
}
progress[value='80']::-webkit-progress-value {
  background-color: #fa00ff;
  border-radius: 3px;
}
progress[value='80']::-moz-progress-bar {
  appearance: none;
  background-color: #fa00ff;
  border-radius: 3px;
}
progress[value='90']::-webkit-progress-value {
  background-color: #ff00b8;
  border-radius: 3px;
}
progress[value='90']::-moz-progress-bar {
  appearance: none;
  background-color: #ff00b8;
  border-radius: 3px;
}
progress[value='100']::-webkit-progress-value {
  background-color: #ff0000;
  border-radius: 3px;
}
progress[value='100']::-moz-progress-bar {
  appearance: none;
  background-color: #ff0000;
  border-radius: 3px;
}
